// mixing
@mixin test-paragraph {
    color:rgb(47,47,47);
    font-size: 20px;
    font-family: "Playfair+Display", times, serif;
    font-style: italic;
    font-weight: 200;
    line-height: 30px;  
}
@mixin paragraph {
    font-family:"Mukta Mahee", arial, sans-serif; 
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 36px;
    color: #6c757d;   
}
@mixin button {
    background-color:rgb(253,126,20) ;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    font-size: 16px;
    color:#ffffff;
    font-family: "Mukta Mahee", arial, sans-serif;
    border-radius: 20px;
    height: 47px; 
}
@mixin title {
    font-size:60px ;
    font-weight:400 ;
    font-family:"Playfair+Display", times, serif ; 
    color:#000000 ;
    font-style: normal;
    line-height: 72px;
}
//header start
.about-header{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image:linear-gradient(rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0.411) ), url(../../assets/image/img_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width:500px){
    .about-header{
        .home-title{
            font-size: 30px;
        }
    }
}
.about-rotate-card{
    width: 100vw;
    height: fit-content;
    background-color: white;
    padding-top: 120px;
}
// header end
// rotate-card-start
.rotate-title{
    @include title();
    text-align: center;
}
@media(max-width:500px){
    .about-rotate-card{
        .rotate-title{
            font-size: 30px;
        }
        .rotate-card-main-box{
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .main-card-rotate{
            width: 100%;
            margin: 5px;

        }
        .fixed-back{
            width: 100%;
        }
    }
}
.rotate-card-main-box{
    width: 80vw;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
.main-card-rotate{
    width: 30%;
    height: 400px;
    perspective: 1000px;
    cursor: pointer;
}
.main-card-rotate:hover .rotate-card{
    transform: rotateY(180deg);
}
.rotate-card{
    height: 100%;
    width: 100%;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
}
.front,.back{
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    color: #6c757d;
    font-size:16px ;
    font-weight: 200;
    font-family:"Mukta Mahee", arial, sans-serif ;
    border-radius: 5px;
}
.front{
    background: linear-gradient(rgb(91, 236, 91),rgb(4, 26, 4));
}
.back{
    background-color: white;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.back:hover{
    box-shadow: 0 0 70px -10px rgba(0,0,0,.4);
}
.back-body{
    width: 90%;
    height: 90%;
    margin: auto ;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.rotate-back{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.rotate-back:focus{
    box-shadow: 0 0 70px -10px rgba(0,0,0,.4);
}
.rotate-img{
    width: 50px;
    border-radius: 100%;
    object-fit: cover;
}
.rotate-discuss{
    width: fit-content;
    height: 100%;
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    h6{
        color: #6c757d;
        font-size:12px ;
        font-weight: 200;
        font-family:"Mukta Mahee", arial, sans-serif ;
    }
    h5{
        color: #6c757d;
        font-size:15px ;
        font-weight: 200;
        font-family:"Mukta Mahee", arial, sans-serif ;
    }
}
.fixed-back{
    width: 30%;
    height: 400px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 70px -10px rgba(0,0,0,.4);
}
.back-card-paragraph{
    color: #6c757d;
    font-size:16px ;
    font-weight: 200;
    font-family:"Mukta Mahee", arial, sans-serif ;
    text-align: center;
}
// rotate-card-end
// about-casahotel-start
.about-welcome-con{
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: 0 auto;
    background-color:rgb(255, 255, 255) ;  
}
.welcome-box{
    width: 50vw;
    height: fit-content;
    display: flex;
    flex-flow:column;
    margin-left: 50px;
    margin-top: 70px;
}
@media(max-width:500px){
    .about-welcome-con{
        width: 90%;
        height: fit-content;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        .welcome-box{
            width: 100%;
            margin-top: 0px;
            .welcome-title{
                width: 100%;
                font-size: 30px;
                text-align: center;
                margin-right: -10px;
            }
            .welcome-paragraph{
                width: 100%;
                font-size: 18px;
                text-align: center;
            }
            .welcome-paragraph2{
                width: 100%;
                font-size: 16px;
                text-align: center;
            }
            .welcome-buttons{
                margin-left: 50px;
            }
            .button-read{
                width: 120px;
                height: 35px;
            }
            span{
                font-size: 16px;
            }
        }
        .welcome-img{
            width: 100%;
            margin-top: 50px;
        }
    }

}
.welcome-title{
    @include title();
    width: 30vw;
}
.welcome-paragraph{
    width:30vw;
    @include paragraph()
}
.welcome-paragraph2{
    color:  rgb(148, 148, 148) ;
    font-size: 20px;
    width:30vw;
    line-height: 30px;
    margin-top: 35px;
}
.welcome-buttons{
    margin-top: 30px;
}
.button-read{
    width: 150px;
    border: none;
    transition: 1s;
    @include button()
}
.button-read:hover{
    opacity: 0.5;
}
.button-read:focus{
    outline: none;
}
.welcome-link{
    color: rgb(247, 123, 123);
    margin-left: 20px; 
}
.welcome-link:hover{
    color: rgb(161, 141, 109);
    text-decoration: none;
}
span{
    color: rgb(110, 110, 110);
    margin-left: 10px;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
.welcome-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
// about-casahotel-end
// testimonial-start
.about-testimonial{
    padding-top: 120px;
    padding-bottom: 120px;
}
.about-testimonial-title{
    @include title();
    text-align: center;
}
@media(max-width:500px){
    .about-testimonial{
        .about-testimonial-title{
            font-size: 30px;
        }
    }
}
.testimonial-car-box{
    width: 80vw;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonial-comments{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.testimonial-parag-img{
    width: 30%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.test-img1{
    width: 80px;
    border-radius: 100%;
}
.test-img2{
    width: 80px;
    border-radius: 100%;
}
.test-img3{
    width: 80px;
    border-radius: 100%;
}
.testimonial-parag{
    width: 250px;
    height: fit-content;
    text-align: center;
    @include test-paragraph()
}
.testimonial-nick{
    font-size:16px ;
    font-weight: 200;
    font-family:"Mukta Mahee", arial, sans-serif; 
    font-style: italic;
    color:#6c757d ;
    line-height: 29px;
}
.testimonial-pre,.testimonial-next{
    margin-right: -50px;
    margin-left: -50px;
}
// testimonial-end
