.main-container{
    background-color: rgb(247, 248, 248); 
}
//header start
.reservation-header{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0.411) ), url(../../assets/image/img_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}
@media(max-width:500px){
    .reservation-header{
        .home-title{
            font-size: 30px;
        }
    }
}
// -header end
// form start
.reservation-phone{
    width: 48%;
    font-size:14px ;
    font-family: "Mukta Mahee", arial, sans-serif;
    font-weight:700 ;
    font-style: normal;
    color: black;
    margin-top: 18px;
}
.reservation-phone2{
    width: 48%;
    font-size:14px ;
    font-family: "Mukta Mahee", arial, sans-serif;
    font-weight:700 ;
    font-style: normal;
    color: black;
    margin-top: 18px;
}
.reservation-email{
    width: 100%;
    font-size:14px ;
    font-family: "Mukta Mahee", arial, sans-serif;
    font-weight:700 ;
    font-style: normal;
}
.reservation-message-box{
    width: 100%;
    font-size:14px ;
    font-family: "Mukta Mahee", arial, sans-serif;
    font-weight:700 ;
    font-style: normal;
    margin-top: 18px;
}
// form end
// testimonial start
.reservation-testimonial{
    padding-top: 120px;
    padding-bottom: 120px;
}
@media(max-width:500px){
    .reservation-testimonial{
        .testimonial-title{
            font-size: 30px;
        }
    }
}

// testimonial end


